<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/phong-don-1.jpg" class="card-img-top" alt="Room 1">
                <div class="card-body">
                    <h5 class="card-title">Phòng đơn</h5>
                    <p class="card-text">Phòng thoải mái với tiện nghi đầy đủ.</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/" class="card-img-top" alt="Room 2">
                <div class="card-body">
                    <h5 class="card-title">Phòng đôi</h5>
                    <p class="card-text">Phòng sang trọng với tầm nhìn đẹp.</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/room3.jpg" class="card-img-top" alt="Room 3">
                <div class="card-body">
                    <h5 class="card-title">Phòng VIP</h5>
                    <p class="card-text">Không gian rộng rãi cho cả gia đình.</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>
