
<ul class="custom-navbar d-flex justify-content-center">
    <li class="nav-item">
        <a href="#" class="nav-link active">Trang Chủ</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Đặt Phòng</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Cá Nhân</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Tin Tức</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Liên Hệ</a>
    </li>
</ul>