<div class="container d-flex justify-content-center my-4">
    <div id="carouselExample" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active justify-content-center align-items-center" data-bs-ride="carousel" data-bs-interval="3000">
                <img src="~/Images/Sliders/1.jpg" class="d-block w-100" alt="Slide 1" style="max-height: 500px; object-fit: cover;">
            </div>
            <div class="carousel-item justify-content-center align-items-center">
                <img src="~/Images/Sliders/2.jpg" class="d-block w-100" alt="Slide 2" style="max-height: 500px; object-fit: cover;">
            </div>
            <div class="carousel-item justify-content-center align-items-center">
                <img src="~/Images/Sliders/3.jpg" class="d-block w-100" alt="Slide 3" style="max-height: 500px; object-fit: cover;">
            </div>
            <div class="carousel-item justify-content-center align-items-center">
                <img src="~/Images/Sliders/4.jpg" class="d-block w-100" alt="Slide 4" style="max-height: 500px; object-fit: cover;">
            </div>
        </div>
        <button class="carousel-control-prev table-hover" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>